.messages-container {
    @include transition(all, $transition-medium);
  }
  
  // Message Component
  .message {
    margin-bottom: 16px; // Compact spacing
    animation: message-fade-in 0.3s ease;
    
    &.user {
      display: flex;
      justify-content: flex-end;
      margin-bottom: $spacing-lg;
      
      .message-content {
        max-width: 85%;
        padding: 12px 20px;
        border-radius: $border-radius-md $border-radius-md 0 $border-radius-md;
        font-weight: 600;
        background: linear-gradient(
          225deg,
          adjust-color($primary-color, $hue: -8deg),
          $primary-color,
        );
        color: $background-white;
      }
    }
    
    &.assistant {
      position: relative;
      
      .message-content {
        width: 95%;
        color: $text-primary;
        background-color: transparent;
        padding: 0;
        line-height: 1.5;
        font-size: 16px;
      }
    }
    
    @include respond-to(medium) {
      .message-content {
        max-width: 95%;
      }
    }
  }
  
  // Typing indicator
  .message.assistant.typing-indicator {
    .message-content {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 24px;
      
      span {
        height: 8px;
        width: 8px;
        margin: 0 2px;
        background-color: #888;
        border-radius: $border-radius-full;
        display: inline-block;
        opacity: 0.4;
        
        &:nth-of-type(1) {
          animation: blink 1s infinite 0.1s;
        }
        
        &:nth-of-type(2) {
          animation: blink 1s infinite 0.3s;
        }
        
        &:nth-of-type(3) {
          animation: blink 1s infinite 0.5s;
        }
      }
    }
  }