@use "../styles/variables" as v;
@use "../styles/mixins" as m;

.quick-question-button {
  @include m.button-reset;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: v.$background-light;
  border-radius: v.$spacing-medium;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  transition: all v.$transition-fast;
  border: 1px solid transparent;
  
  .button-content {
    display: flex;
    align-items: center;
    gap: v.$spacing-medium;
    
    svg {
      path, circle {
        fill: v.$primary-color;
      }
    }
  }
  
  &:hover {
    background-color: rgba(v.$primary-color, 0.05);
  }
  
  &:active {
    transform: scale(0.99);
  }
}