@use "../styles/variables" as v;
@use "../styles/mixins" as m;

.sidebar {
  width: 280px;
  background-color: white;
  border-right: 1px solid rgba(v.$foreground-primary, 0.04);
  overflow-y: auto;
  height: 100vh;
  padding: v.$spacing-large 0;
  position: sticky;
  top: 0;
}

.logo-container {
  padding: 24px 32px 0;
  margin-bottom: 32px;
}

.logo {
  display: flex;
  align-items: center;
  
  .dh-logo {
    height: 28px;
    width: auto;
  }
}

.nav-section {
  margin-bottom: v.$spacing-2xlarge;
  
  .nav-section-title {
    padding: 0 32px;
    font-size: 14px;
    color: v.$foreground-secondary;
    margin-bottom: 8px;
  }
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-bottom: 2px;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 8px 32px;
  color: v.$foreground-primary;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.2s;
  
  &:hover, &.active {
    background-color: rgba(v.$primary-color, 0.05);
    color: v.$primary-color;
    
    .nav-icon {
      color: v.$primary-color;
    }
  }
  
  &.active {
    font-weight: 600;
  }
}

.nav-icon {
  margin-right: 16px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: v.$foreground-primary;
  
  .material-symbols-rounded {
    font-size: 24px;
    font-variation-settings:
      'FILL' 0,
      'wght' 300,
      'GRAD' 0,
      'opsz' 24;
  }
}