@use "styles/variables" as v;
@use "styles/mixins" as m;

.app {
  display: flex;
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: #ffffff;
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 0 40px 80px 40px; // Added bottom padding for sticky demo notice
  max-width: 1312px;
  width: 100%;
}

.page-title {
  font-size: 28px;
  font-weight: 700;
  color: v.$foreground-primary;
}

.section-grid {
  display: flex;
  flex-direction: column;
  gap: v.$spacing-2xlarge;
}

.section-row {
  display: flex;
  gap: v.$spacing-2xlarge;
  width: 100%;
  
  @include m.respond-to(medium) {
    flex-direction: column;
  }
}

.section-card {
  background-color: white;
  border-radius: v.$spacing-medium;
  border: 1px solid rgba(0,0,0,0.06);
  padding: v.$spacing-2xlarge;
  flex: 1;
  min-height: 196px;
}

.section-content {
  width: 100%;
  height: 100%;
}